<h2>browse all recipes</h2>

<% @recipes.each do |recipe| %>
  <% stats = get_stats recipe %>
  <div class="recipe-card">
    <div class="name">
      <p><%= recipe.name %></p>
      <p><%= recipe.style.name %></p>
    </div>
    <p>SRM: <%= recipe.srm %></p>
    <p>ABV: <%= stats['abv'].round(1) %>%</p>
    <p>IBU <%= stats['ibu'] %></p>
    <a href="/recipes/<%= recipe.id %>">More...</a>
  </div>
<% end %>
