<div class="title">
  <div class="name">
    <p><%= @recipe.master_recipe.name %></p>
    <p><%= @recipe.master_recipe.style.name %></p>
  </div>
  <p>Color: SRM</p>
</div>

<p>Brew Volume: <%= @recipe.volume %>L</p>

<div class="stats">
  <h2>stats</h2>
  <p>ABV: <%= @stats['abv'].round(1) %>%</p>
  <p>IBU: <%= @stats['ibu'] %></p>
  <p>OG: <%= @stats['og'].round(3) %></p>
  <p>FG: <%= @stats['fg'].round(3) %></p>
</div>

<div class="fermentables">
  <h2>fermentables</h2>
  <% @fermentables.each_with_index do |fermentable, index| %>
    <p><%= fermentable.fermentable.name %></p>
    <p><%= fermentable.ppg %> PPG</p>
    <p><%= fermentable.srm %> SRM</p>
    <p><%= get_fermentable_weight(fermentable, @recipe, index).to_i %> grams</p>
  <% end %>
</div>

<div class="hops">
  <h2>hops</h2>
  <% @hops.each_with_index do |hop, index| %>
    <p><%= hop.hop.name %></p>
    <p><%= hop.aa %>% AA</p>
    <p><%= get_hop_weight(hop, @recipe, index).to_i %> grams</p>
  <% end %>
</div>

<div class="yeast-mash-info">
  <h2>Yeast & Mash Info</h2>
  <p>Mash Temp: <%= @recipe.master_recipe.mash_temp %>deg</p>
  <p>Mash Time: <%= @recipe.master_recipe.mash_time %>mins</p>
  <p>Yeast: <%= @recipe.master_recipe.yeast.name %></p>
  <p>Ferment Temp: <%= @recipe.master_recipe.ferment_temp %>deg</p>
</div>

<p><a href="/<%= @recipe.user.username %>/edit/<%= @recipe.id %>">Edit</a></p>
<form action="/<%= @recipe.user.username %>/<%= @recipe.id %>" method="post">
  <input type="hidden" name="_method" value="delete">
  <button>delete</button>
</form>
